/* Widget in the right side */
/*Widget box*/
.sc-eEOqmf,
.eIdXlS {
  border-radius: 15px 0px 0px 15px;
}
/*Info shadow*/
sc-jmNpzm,
.dWcfAp {
  border-radius: 0px 15px 15px 0px;
}
/* Widget in the left side */
/*Widget box*/
.sc-eEOqmf,
.eIdXlS {
  border-radius: 0px 15px 15px 0px;
}
/*Info shadow*/
sc-jmNpzm,
.dWcfAp {
  border-radius: 0px 15px 15px 0px;
}
